.venv/
venv/
ENV/
**/__pycache__/
*.py[cod]
*$py.class
*.json
*.csv
.env
data/
models/
airflow/logs/
airflow/config/airflow.cfg
frontend/.dart_tool/
frontend/build/
.idea/
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins*
frontend/**/*.dill
frontend/**/*.cache.dill
**/*.dill
**/*.track.dill