.venv/
venv/
ENV/
**/__pycache__/
*.py[cod]
*$py.class
*.json
*.csv
.env
data/
models/
airflow/logs/
airflow/config/airflow.cfg
frontend/.dart_tool/
frontend/build/
.idea/
.packages
.flutter-plugins
.flutter-plugins-dependencies
frontend/.dart_tool/
frontend/build/
frontend/android/local.properties
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/ios/Flutter/Flutter.podspec
.DS_Store
Thumbs.db
data_output/
cookies.txt
storage/file_folder/*
!storage/file_folder/.gitkeep
ecommerce_price_comparer/spiders/**/*.txt
ecommerce_price_comparer/spiders/**/*.html