.venv/
venv/
ENV/
**/__pycache__/
*.py[cod]
*$py.class
*.json
*.csv
.env
data/
models/
airflow/logs/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
migrate_working_dir/

*.class
*.log
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
*.iml
*.ipr
*.iws
.idea/